/*通用類別*/
.material-icons{
    vertical-align: middle;
}
body{
    font-family: PingFangTC-Regular, sans-serif;
}
a{
    transition: all .5s;
    display: block;
    color: $text-SecondaryColor;
    &:hover{
        text-decoration: none;
        color:$bg-primay;
    }
}
.show-menu{
    width: 30px;
    position: relative;
    height: 30px;
    right: 15px;
    top: 5px;
    cursor: pointer;
    & span{
        display:block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
    }
    & span:nth-child(2){
        top: 8px;
    }
    & span:nth-child(3){
        top: 17px;
    }
}
.modile-menu{
    position: absolute;
    right: 0;
    left: 0;
    top: 49px;
    z-index: 100;
}
p{
    text-align: justify;
}
img{
    max-width: 100%;
    height: auto;
}
@media(min-width:768px){
    .py-6{
        padding: 4rem 0;
    }
}
ul li{
    list-style-type: none;
}
.logo{
    background-image: url(../perfume-week6/d’Perfume.png);
    width: 128px;
    height: 38px;
    @include hide-text;
}
.bg-light{
    background-color: #fff !important;
}
.navbar{
    @media (max-width:768px) {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 99;
    }
}
.navbar-expand-lg .navbar-collapse{
    @media (min-width:768px) {
        display: none !important;
    }
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
button:focus{
    outline: none;
}
.nav-link{
    background-color: #707070;
    font-size:$h5-font-size;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 1.6;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.text-primary{
    color: $a-link !important;
}
.cart_moible{
    color: #8D8D8D;
}
.three{
    right: -5px;
    top: -4px;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #916000;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    color: #fff;
    font-size: 12px;
}
/*表尾*/
footer{
    background-color: $primary;
    color: $text-SecondaryColor;
    & p{
        font-size: $font-size-sm;
        margin-bottom: -5px;
    }
    & ul li a{
        font-size: $h5-font-size;
        padding: 5px;
    }
    & ul li a:hover{
        color: $bg-primay;
        opacity: 0.5;
    }
}