.mb-6{
    margin-bottom: 80px;
    @include pad(){
        margin-bottom: 20px;
    }
}
.img-h-5{
    min-height: 540px;
    object-fit: cover;
    @include pad(){
        height: auto;
    }
}
.Pc-show{
    @media (min-width:768px) {
        position: absolute;
        right: 0;
    }
}
.Plr-1{
    padding: 0 15px;
    @media (min-width:768px) {
        padding: 0;
    }
}
.price{
    font-size: $h5-font-size;
}
.custom-select{
    height: 50px;
    border:1px solid $primary;
    border-radius: .25rem 0 0 .25rem;
}
.btn-primary{
    background-color: $primary;
    height: 50px;
    border-radius: 0 .25rem .25rem 0;
    border-color: $primary;
    &:hover{
        background-color:$primary;
        border-color: $primary;
        color: aquamarine;
    }
}
.vertical-align-bottom{
    vertical-align: bottom;
}